// fonts
$font-size: 18px;
$font-family: Bai Jamjuree;

// colors
// temporary colors
$color-primary-1: hsl(171, 66%, 44%);
$color-primary-2: hsl(233, 100%, 69%);

$btn-font-color: white;
$color-black: black;
$color-white: white;

//heading color
$heading-color: rgba(0, 0, 0, 0.633);
$heading-sise: 3.5rem;
$heading-size-small: 2.5rem;

// paragraph
$paragrah-size: 1.8rem;

// secondary colors
$color-seconday-grey: hsl(210, 10%, 33%);
$color-seconday-grayish-blue: hsl(201, 11%, 66%);

// Footer color
$footer-color: rgba(159, 171, 178, 0.146);

// shadows
$shadow-1: 0 1rem 5rem 1.5rem rgba($color-black, 0.15);
$shadow-2: 0 2rem 2.5rem rgba($color-black, 0.2);

// btn variables
$btn-padding: 1.5rem 5rem;
$btn-font-size: 1.4rem;
$btn-radius: 50px;

// font variables
$font-weight: 600;
$font-weight-lighter: 500;

// section variables
$section-padding: 3rem;
$section-padding-tab: 6rem;
$section-padding-desktop: 20rem;
$section-padding-desktop-1: 15rem;
$padding-right: 25rem;
$padding-top: 6rem;
